.list-user-container {
    .title {
        margin: 30px 0;
        font-size: 32px;
    }

    .list-user-content {
        .child {
            height: 40px;
            border-top: 1px solid #ccc;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            width: 300px;
            margin: 0 auto;
            line-height: 40px;
            font-size: 20px;
            text-align: left;
            padding: 0 20px
        }
        .child:last-child {
            border-bottom: 1px solid #ccc;
        }
    }
}